* {
  box-sizing: border-box;
  margin: 1;
}


header {
  text-align: center;
  background-color: darkgrey;
  padding: 30px 0 30px 0;
  width: 75%;
  margin: auto;
  color: #EFEFEF;
}

header h1 {
  display: inline;
  font-weight: 400;
}